@import '~@fortawesome/fontawesome-free/css/all.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  background-color: white;
}

.logo {
  width: 350px; /* Ajustar el tamaño del logo */
  height: auto;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinear al principio del contenedor */
  padding: 20px;
  flex-direction: column; /* Asegurar que los elementos se apilen en columna */
}

h1 {
  font-size: 2.5em; /* Ajustar el tamaño del título */
  margin-bottom: 20px; /* Espacio debajo del título */
}

.add-user-form {
  background-color: white;
  padding: 40px; /* Espacio interno del formulario */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px; /* Ajustar el ancho máximo del formulario */
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px; /* Espacio entre los grupos de formulario */
}

label {
  display: block;
  margin-bottom: 8px; /* Espacio entre la etiqueta y el campo */
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="file"] {
  padding: 5px;
}

.submit-button {
  background: none; /* Sin fondo */
  font-weight: 700; /* Letras más gruesas */
  color: #8A0046; /* Color vino */
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 1.2em;
  align-self: center; /* Centrar el botón horizontalmente */
  margin-top: 20px; /* Espacio superior para separar del último campo */
  display: flex;
  align-items: center;
  gap: 8px; /* Espacio entre el texto y el ícono */
}

.submit-button:hover {
  color: #600030;
}

.footer-decoration {
  width: 23%; /* Ajustar el tamaño del pie */
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
}
